Load Dataset

Variables of the data set:

#### movie.csv

- movieId – Unique movie number. (UniqueID)<br>
- title – Movie name<br>
#### rating.csv

- userid – Unique user number. (UniqueID)<br>
- movieId – Unique movie number. (UniqueID)<br>
- rating – The rating given to the movie by the user<br>
- timestamp – Evaluation date

In [6]:
import pandas as pd
pd.set_option('display.max_columns', 20)
movie = pd.read_csv("data/movielens-20m-dataset/movie.csv")
rating = pd.read_csv("data/movielens-20m-dataset/rating.csv")

df = movie.merge(rating, how="left", on="movieId")
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41

In [7]:
df.shape

(20000797, 6)

In [8]:
df["title"].nunique()

27262

In [9]:
df["title"].value_counts().head()

title
Pulp Fiction (1994)                 67310
Forrest Gump (1994)                 66172
Shawshank Redemption, The (1994)    63366
Silence of the Lambs, The (1991)    63299
Jurassic Park (1993)                59715
Name: count, dtype: int64

In [19]:
df["title"].value_counts()

title
Pulp Fiction (1994)                          67310
Forrest Gump (1994)                          66172
Shawshank Redemption, The (1994)             63366
Silence of the Lambs, The (1991)             63299
Jurassic Park (1993)                         59715
                                             ...
Rapture (Arrebato) (1980)                        1
Education of Mohammad Hussein, The (2013)        1
Satanas (2007)                                   1
Psychosis (2010)                                 1
Innocence (2014)                                 1
Name: count, Length: 27262, dtype: int64

In [24]:
comment_counts = pd.DataFrame(df["title"].value_counts())
rare_movies = comment_counts[comment_counts["count"] <= 1000].index

# Let's get access to movies with over 1000 reviews:
common_movies = df[~df["title"].isin(rare_movies)]
common_movies.shape

(17766015, 6)

In [25]:
common_movies["title"].nunique()

3159

In [26]:
user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")

# There are 3159 movies that 138493 users have voted for. 
user_movie_df.shape

(138493, 3159)

In [27]:
user_movie_df.head(10)

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Xem độ tương quan giữa 1 bộ phim so với các bộ phim khác và hiển thị top 10

In [28]:
movie_name = "Matrix, The (1999)"
movie_name = user_movie_df[movie_name]
user_movie_df.corrwith(movie_name).sort_values(ascending=False).head(10)

title
Matrix, The (1999)                                           1.000000
Matrix Reloaded, The (2003)                                  0.516906
Matrix Revolutions, The (2003)                               0.449588
Animatrix, The (2003)                                        0.367151
Blade (1998)                                                 0.334493
Terminator 2: Judgment Day (1991)                            0.333882
Minority Report (2002)                                       0.332434
Edge of Tomorrow (2014)                                      0.326762
Mission: Impossible (1996)                                   0.320815
Lord of the Rings: The Fellowship of the Ring, The (2001)    0.318726
dtype: float64

In [29]:
# random_user = int(pd.Series(user_movie_df.index).sample(1, random_state=45).values)
random_user = 28491

Random 1 hàng ngẫu nhiên để xem đánh giá rating

In [30]:
random_user_df = user_movie_df[user_movie_df.index == random_user]
random_user_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
28491.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Lấy ra những bộ phim được rating trong random_user_df

In [31]:
movies_watched = random_user_df.columns[random_user_df.notna().any()].tolist()
movies_watched

['28 Days (2000)',
 'Blade Runner (1982)',
 'Braveheart (1995)',
 'Carrie (1976)',
 'Deliverance (1972)',
 'Escape from the Planet of the Apes (1971)',
 'Fight Club (1999)',
 'Gladiator (2000)',
 'Hancock (2008)',
 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
 'Iron Man (2008)',
 'King Kong (2005)',
 'Lethal Weapon 4 (1998)',
 'Money Train (1995)',
 'Poltergeist (1982)',
 'Shawshank Redemption, The (1994)',
 'Spice World (1997)',
 'Star Trek V: The Final Frontier (1989)',
 'Star Trek: Insurrection (1998)',
 'Westworld (1973)',
 "White Men Can't Jump (1992)",
 'Young Guns (1988)']

In [32]:
user_movie_df.loc[user_movie_df.index == random_user, user_movie_df.columns == "Young Guns (1988)"]

title    Young Guns (1988)
userId
28491.0                3.0

In [33]:
# How many movies have user #28491 watched:
len(movies_watched)

22

In [36]:
# we have reduced the dataset based on movies watched by user 28491:
movies_watched_df = user_movie_df[movies_watched]
movies_watched_df.head()

title,28 Days (2000),Blade Runner (1982),Braveheart (1995),Carrie (1976),Deliverance (1972),Escape from the Planet of the Apes (1971),Fight Club (1999),Gladiator (2000),Hancock (2008),Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994),...,Lethal Weapon 4 (1998),Money Train (1995),Poltergeist (1982),"Shawshank Redemption, The (1994)",Spice World (1997),Star Trek V: The Final Frontier (1989),Star Trek: Insurrection (1998),Westworld (1973),White Men Can't Jump (1992),Young Guns (1988)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,3.5,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2.0,3.0,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,5.0,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,4.0,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
movies_watched_df.shape

(138493, 22)

In [38]:
user_movie_count = movies_watched_df.T.notnull().sum()

user_movie_count = user_movie_count.reset_index()
user_movie_count.columns = ["userId","movie_count"]
user_movie_count.head()

   userId  movie_count
0     1.0            4
1     2.0            3
2     3.0            5
3     4.0            0
4     5.0            2

In [39]:
# 3 user watched 22 movies:
user_movie_count[user_movie_count["movie_count"] == 22].count()

userId         3
movie_count    3
dtype: int64

số lượng bộ phim mà 60% đã được người dùng xem, dựa trên tổng số lượng bộ phim mà người dùng đã xem.

In [40]:
# 60% of movies watched by 28491:
perc = len(movies_watched) * 60 / 100
perc

13.2

In [41]:
users_same_movies = user_movie_count[user_movie_count["movie_count"] > perc]["userId"]
users_same_movies.count()

723

In [42]:
# Let's combine the data of user #28491 and similar users:
final_df = pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],
                      random_user_df[movies_watched]])

final_df.shape
final_df.T.corr()

userId,156.0,298.0,768.0,775.0,812.0,903.0,971.0,982.0,1516.0,1849.0,...,136806.0,136875.0,137037.0,137202.0,137343.0,137686.0,137885.0,138134.0,138208.0,28491.0
userId,,,,,,,,,,,,,,,,,,,,,
156.0,1.000000,0.768998,0.518563,0.509571,0.406438,0.580881,0.746061,0.564671,0.760992,0.452328,...,0.231630,0.534560,0.705608,0.289858,0.489090,0.923310,0.809843,0.383278,0.515122,0.534434
298.0,0.768998,1.000000,0.494077,0.671367,0.449945,0.681788,0.612133,0.692902,0.791030,0.580531,...,0.528925,0.769683,0.896963,0.384900,0.543919,0.752742,0.660895,0.353248,0.665225,0.681345
768.0,0.518563,0.494077,1.000000,0.517099,0.393692,0.538754,0.561707,0.590536,0.606786,0.412043,...,0.644874,0.705789,0.631283,0.437588,0.256773,0.444187,0.623648,0.466817,0.262072,0.700749
775.0,0.509571,0.671367,0.517099,1.000000,-0.121151,0.559295,0.528027,0.570422,0.465163,0.660543,...,0.676971,0.198899,0.706739,0.571706,0.174144,0.644313,0.701843,0.534395,0.266122,0.313870
812.0,0.406438,0.449945,0.393692,-0.121151,1.000000,0.486398,0.516995,0.421158,0.339938,-0.122608,...,-0.150079,0.407864,0.478719,0.047782,0.309242,0.439956,0.364421,-0.438957,0.378231,0.219947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137686.0,0.923310,0.752742,0.444187,0.644313,0.439956,0.818724,0.715936,0.661438,0.688119,0.784257,...,0.328167,0.508406,0.760413,0.544165,0.519028,1.000000,0.795444,0.435016,0.734423,0.395573
137885.0,0.809843,0.660895,0.623648,0.701843,0.364421,0.742307,0.709293,0.708238,0.883455,0.646443,...,0.459424,0.405298,0.749775,0.632522,0.549091,0.795444,1.000000,0.349731,0.439163,0.572888
138134.0,0.383278,0.353248,0.466817,0.534395,-0.438957,0.531844,0.337219,0.353774,0.247008,0.890524,...,0.336349,0.350716,0.575853,0.203398,0.178862,0.435016,0.349731,1.000000,0.354943,0.239835
138208.0,0.515122,0.665225,0.262072,0.266122,0.378231,0.676066,0.427844,0.546744,0.528013,0.497494,...,0.438774,0.124012,0.419359,0.662844,0.253285,0.734423,0.439163,0.354943,1.000000,0.519454
28491.0,0.534434,0.681345,0.700749,0.313870,0.219947,0.319962,0.582960,0.547316,0.615093,0.416969,...,0.506451,0.368988,0.584740,0.440026,0.488786,0.395573,0.572888,0.239835,0.519454,1.000000

In [45]:
corr_df = final_df.T.corr().stack().sort_values().drop_duplicates()
corr_df = pd.DataFrame(corr_df, columns=["corr"])
corr_df.index.names = ['user_id_1', 'user_id_2']
corr_df = corr_df.reset_index()
corr_df.head()

   user_id_1  user_id_2      corr
0    98213.0     3664.0 -0.947998
1    98213.0    68575.0 -0.930482
2    98213.0    39382.0 -0.923228
3   125010.0    96859.0 -0.917663
4   130491.0   125010.0 -0.891902

In [47]:
corr_df = final_df.T.corr().stack().sort_values().drop_duplicates()
corr_df = pd.DataFrame(corr_df, columns=["corr"])
corr_df.index.names = ['user_id_1', 'user_id_2']
corr_df = corr_df.reset_index()
corr_df.head()

   user_id_1  user_id_2      corr
0    98213.0     3664.0 -0.947998
1    98213.0    68575.0 -0.930482
2    98213.0    39382.0 -0.923228
3   125010.0    96859.0 -0.917663
4   130491.0   125010.0 -0.891902

In [48]:
top_users = corr_df[(corr_df["user_id_1"] == random_user) & (corr_df["corr"] >= 0.65)][
    ["user_id_2", "corr"]].reset_index(drop=True)

top_users = top_users.sort_values(by='corr', ascending=False)
top_users.rename(columns={"user_id_2": "userId"}, inplace=True)
top_users.head()

      userId      corr
74    9116.0  0.889251
73    7370.0  0.862414
72  126909.0  0.844482
71   68575.0  0.833011
70   62599.0  0.822171

In [50]:
# let's see the ratings of users:
rating = pd.read_csv("data/movielens-20m-dataset/rating.csv")
top_users_ratings = top_users.merge(rating[["userId", "movieId", "rating"]], how='inner')

top_users_ratings = top_users_ratings[top_users_ratings["userId"] != random_user]
top_users_ratings.head()

   userId      corr  movieId  rating
0  9116.0  0.889251        1     4.0
1  9116.0  0.889251        2     4.0
2  9116.0  0.889251        4     3.0
3  9116.0  0.889251        5     4.0
4  9116.0  0.889251        9     2.0

In [51]:
# Calculate the Weighted Average Recommendation Score and keep the first 5 movies.

#Let's do a single score with the most similar by corr * rating:
top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['rating']
top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})

recommendation_df = top_users_ratings.groupby('movieId').agg({"weighted_rating": "mean"})
recommendation_df = recommendation_df.reset_index()
recommendation_df.head()

   movieId  weighted_rating
0        1         2.865044
1        2         2.012408
2        3         1.958197
3        4         1.651389
4        5         1.703669

In [52]:
# weighted rating greater than 4:
recommendation_df[recommendation_df["weighted_rating"] > 3.7]

# Movies 28491 will like:
movies_to_be_recommend = recommendation_df[recommendation_df["weighted_rating"] > 3.7].sort_values("weighted_rating", ascending=False)

movies_to_be_recommend.merge(movie[["movieId", "title"]])

#Let's see the top 5 movies:
movies_to_be_recommend.merge(movie[["movieId", "title"]])[:5]

   movieId  weighted_rating                 title
0     1151         4.222411          Faust (1994)
1    97328         3.848473   Liberal Arts (2012)
2   104944         3.848473  Short Term 12 (2013)
3    50742         3.748548   7 Plus Seven (1970)
4    97673         3.748548          56 Up (2012)

In [54]:
# Make an item-based suggestion based on the name of the movie that the user has watched with the highest score.

# ▪ 5 suggestions user-based
# ▪ 5 suggestions item-based

movie = pd.read_csv("data/movielens-20m-dataset/movie.csv")
rating = pd.read_csv("data/movielens-20m-dataset/rating.csv")

# The last highly-rated movie by user 108170:

user = 108170
movie_id = rating[(rating["userId"] == user) & (rating["rating"] == 5.0)].sort_values(by="timestamp", ascending=False)["movieId"][0:1].values[0]
movie_id

7044

In [55]:
# ▪ 5 suggestions user-based
movies_to_be_recommend.merge(movie[["movieId", "title"]])[:5]['title'].to_list()

['Faust (1994)',
 'Liberal Arts (2012)',
 'Short Term 12 (2013)',
 '7 Plus Seven (1970)',
 '56 Up (2012)']

In [56]:
# ▪ 5 suggestions item-based
movie_name = movie[movie['movieId'] == movie_id]['title'].values[0]
movie_name = user_movie_df[movie_name]
moveis_from_item_based = user_movie_df.corrwith(movie_name).sort_values(ascending=False)
moveis_from_item_based[1:6].index.to_list()

['My Science Project (1985)',
 'Mediterraneo (1991)',
 'Old Man and the Sea, The (1958)',
 "National Lampoon's Senior Trip (1995)",
 'Clockwatchers (1997)']